<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page" style="margin-top:50px;">

	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
		<div class="m-grid__item m-grid__item--fluid m-wrapper">

			<div class="m-content">

				<!--begin:: section content-->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="rightautotable">
						<div class="m-portlet m-portlet--mobile ">
							<button *ngIf="utente.ruolo == 0" type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#chiediPreventivoModal">Richiedi Preventivo</button>
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<h3 class="m-portlet__head-text">
											<i class="fa fa-euro fah3"></i>
											Preventivi - {{filtropreventivi}}
										</h3>

									</div>
								</div>

							</div>

							<div class="m-portlet__body">
								<!--begin: Datatable -->
								<!--	<div class="m_datatable" id="m_datatable_latest_orders"></div>-->

								<!--<button type="button" id="noleggioauto" class="btn btn-default pull-left btnmodal" ng-if="user.getUser().ruolo==0" ng-click="openmodalnoleggio()">Richiedi Noleggio</button>-->

							</div>
							<div class="m-portlet__body">
								<!--begin: Datatable -->
								<!--	<div class="m_datatable" id="m_datatable_latest_orders"></div>-->
								
								<!--<button type="button" id="noleggioauto" class="btn btn-default pull-left btnmodal" ng-if="user.getUser().ruolo==0" ng-click="openmodalnoleggio()">Richiedi Noleggio</button>-->

								<div class="table-responsive">
									<table datatable class="row-border hover" id="myTable">
										<thead>
											<tr>
												<!--	<th>ID</th> -->
												<th>Data</th>
												<th>Marca</th>
												<th>Modello</th>
												<th>Targa</th>
												<th>Telaio</th>
												<th>Dettagli</th>
												<th>Risposta</th>
												<th>Costo</th>
												<th></th>
											</tr>
										</thead>
										<tbody *ngIf="utente.ruolo == 1">
											<tr *ngFor="let preventivo of listaPreventivi">
												<td>{{preventivo.data | date:'dd/MM/yyyy'}}</td>
												<!--<td>{{autos.auto.id}}</td>-->
												<td>{{preventivo.auto.marca}}</td>
												<td>{{preventivo.auto.modello}}</td>
												<td>{{preventivo.auto.targa}}</td>
												<td>{{preventivo.auto.numeroTelaio}}</td>
												<td>{{preventivo.dettagli}}</td>
												<td>{{preventivo.risposta}}</td>
												<td>
													<span *ngIf="preventivo.stato != 0">{{preventivo.costo}} &euro;</span>
												</td>
												<td>
													<a *ngIf="preventivo.stato == 2" class="accettato">
														<i class="fa fa-check" title="Accettato"></i>
													</a>
													<a *ngIf="preventivo.stato == 3" class="rifiutato">
														<i class="fa fa-times" title="Rifiutato"></i>
													</a>
													<a class="ali rispondipreventivo" (click)="openModalRispondiPreventivo(preventivo.id);" *ngIf="preventivo.stato==0" [ngClass]="utente.ruolo==1 ? 'rispondiprev' :''">
														<i class="fa fa-hourglass" title="Richiesta in attesa di risposta"></i>
													</a>
												</td>
											</tr>
										</tbody>
										<tbody *ngIf="utente.ruolo == 0">
											<tr *ngFor="let preventivo of listaPreventivi">
												<td>{{preventivo.data | date:'dd/MM/yyyy'}}</td>
												<!--<td>{{autos.auto.id}}</td>-->
												<td>{{preventivo.auto.marca}}</td>
												<td>{{preventivo.auto.modello}}</td>
												<td>{{preventivo.auto.targa}}</td>
												<td>{{preventivo.auto.numeroTelaio}}</td>
												<td>{{preventivo.dettagli}}</td>
												<td>
													<span *ngIf="preventivo.stato == 0">In attesa di risposta</span>
													<span *ngIf="preventivo.stato != 0">{{preventivo.risposta}}</span>
												</td>
												<td>
													<span *ngIf="preventivo.stato != 0">{{preventivo.costo}} &euro;</span>
												</td>
												<td>
													<a *ngIf="preventivo.stato == 2" class="accettato">
														<i class="fa fa-check" title="Accettato"></i>
													</a>
													<a *ngIf="preventivo.stato == 3" class="rifiutato">
														<i class="fa fa-times" title="Rifiutato"></i>
													</a>
													<a class="ali-green" (click)="accettaPreventivo(preventivo.id, 2);" *ngIf="preventivo.stato==1">
														<i class="fa fa-check" title="Accetta"></i>
													</a>
													<a class="ali" (click)="accettaPreventivo(preventivo.id, 3);" *ngIf="preventivo.stato==1">
														<i class="fa fa-times" title="Rifiuta"></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!--end: Datatable -->
							</div>
						</div>
					</div>


				</div>
				<!--end:: seciont content-->





			</div>
		</div>
		<!--
		</div>
	-->
	</div>
</div>
<!-- end:: Page -->

<!-- begin::modal rispondi preventivo -->
<div class="modal" tabindex="-1" role="dialog" id="modalrispondipreventivo">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Rispondi alla richiesta di preventivo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="form-group">
					<label for="costorispprev">Costo:</label>
					<input type="number" step=0.01 [(ngModel)]="costorispprev" class="form-control">

				</div>
				<div class="form-group">
					<label for="rispostaprev">Dettagli preventivo:</label>
					<textarea class="form-control" rows="5" id="rispostaprev" name="rispostaprev" [(ngModel)]="rispostaprev" placeholder="Inserire dettagli preventivo..."></textarea>
				</div>

				<input type="text" style="display:none;" id="idrispprev" [(ngModel)]="idrispprev">



			</div>
			<div class="modal-footer " style="text-align:center;">
				<button type="button" class="btn btn-primary savebutton" (click)="rispondiPreventivo()">Invia Preventivo</button>

			</div>
		</div>
	</div>
</div>

<!-- end::modal rispondi preventivo-->

<!-- Modal Preventivo -->
<div *ngIf="utente.ruolo == 0" class="modal fade" id="chiediPreventivoModal" tabindex="-1" role="dialog" aria-labelledby="chiediPreventivoLabel"
 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="chiediPreventivoLabel">Richiedi un preventivo</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="fa fa-fw fa-times"></i>
					</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form">
					<div class="form-group">
						<label>Seleziona un'auto</label>
						<select [(ngModel)]="idAuto" [ngModelOptions]="{standalone: true}">
							<option *ngFor="let auto of listaAutoUtente" value="{{auto.id}}">{{auto.marca}} {{auto.modello}}</option>
						</select>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Dettagli</label>
							<textarea class="form-control" [(ngModel)]="dettagli" [ngModelOptions]="{standalone: true}"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<button class="btn btn-primary" type="button" (click)="chiediPreventivo()">Conferma</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal -->