<div>
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page" style="margin-top:50px;">

    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
      <div class="m-grid__item m-grid__item--fluid m-wrapper">

        <div class="m-content">

          <!--begin:: section content-->
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-wrench"></i>
                  </div>
                  <div class="mr-5"><h2>{{allOfficine}} officine</h2></div>
                </div>
                <a class="card-footer text-white clearfix small z-1" (click)="notifiche(statoAuto.auto)" data-toggle="modal" data-target="#notificheModal"
                  style="cursor: pointer;">
                  <span class="float-left">Visualizza</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-body">
                    <div class="card-body-icon">
                      <i class="fa fa-fw fa-briefcase"></i>
                    </div>
                    <div class="mr-5"><h2>{{allAziende}} aziende</h2></div>
                  </div>
                  <a class="card-footer text-white clearfix small z-1" (click)="notifiche(statoAuto.auto)" data-toggle="modal" data-target="#notificheModal"
                    style="cursor: pointer;">
                    <span class="float-left">Visualizza</span>
                    <span class="float-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                  </a>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-3">
                  <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                      <div class="card-body-icon">
                        <i class="fa fa-fw fa-automobile"></i>
                      </div>
                      <div class="mr-5"><h2>{{allAuto}} auto</h2></div>
                    </div>
                    <a routerLink="/allAuto" class="card-footer text-white clearfix small z-1" style="cursor: pointer;">
                      <span class="float-left">Visualizza</span>
                      <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                      <div class="card-body">
                        <div class="card-body-icon">
                          <i class="fa fa-fw fa-user"></i>
                        </div>
                        <div class="mr-5"><h2>{{allUtenti}} utenti</h2></div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
        <!--end:: seciont content-->
      </div>
    </div>
  </div>
</div>
<!-- end:: Page -->