<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <div class="m-content">

        <div class="row row-flex">
          <div class="col-md-4">
            <div class="card" style="min-height: 250px;">
              <div class="card-header">
                <i class="fa fa-automobile"></i>
               {{auto.marca}} {{auto.modello}}
              </div>
              <div class="card-body">
                <table>
                  <tr>
                    <td>Targa:</td>
                    <td> {{auto.targa}}</td>
                  </tr>
                  <tr>
                    <td>Telaio:</td>
                    <td> {{auto.numeroTelaio}}</td>
                  </tr>
                  <tr>
                    <td>Cilindrata:</td>
                    <td> {{auto.cilindrata}} cm
                      <sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>Potenza:</td>
                    <td> {{auto.potenza}} kw </td>
                  </tr>
                  <tr>
                    <td>Alimentazione:</td>
                    <td> {{auto.alimentazione}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="min-height: 250px;">
              <div class="card-header">
                Dati
              </div>
              <div class="card-body">
                <table>
                  <tr>
                    <td>Km:</td>
                    <td>{{km}}</td>
                  </tr>
                  <tr>
                    <td>Scadenza revisione:</td>
                    <td>{{auto.scadenzaRevisione | date:'dd/MM/yyyy'}}</td>
                  </tr>
                  <tr>
                    <td>Scadenza bollo:</td>
                    <td>{{auto.scadenzaBollo | date:'dd/MM/yyyy'}}</td>
                  </tr>
                  <tr>
                    <td>Scadenza tagliando: </td>
                    <td>{{auto.scadenzaTagliando | date:'dd/MM/yyyy'}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body" style="margin: 0; padding: 0;">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
              </div>
            </div>
          </div>
        </div>
		
		<!-- CONTAINER OF TELEMETRY -->
		<!-- BUTTON LIST TO CHANGE LIST OF PARAMETERS -->
		<div class="row toprow">
		<div class="card-deck">
  <div class="card bg-tab" (click)="changeTab(0);">
    <div class="card-body text-center">
      <p class="card-text">ALL</p>
    </div>
  </div>
  <div class="card bg-tab" (click)="changeTab(1);">
    <div class="card-body text-center">
      <p class="card-text">ENGINE</p>
    </div>
  </div>
  <div class="card bg-tab" (click)="changeTab(2);">
    <div class="card-body text-center">
      <p class="card-text">THROTTLE</p>
    </div>
  </div>
  <div class="card bg-tab" (click)="changeTab(3);">
    <div class="card-body text-center">
      <p class="card-text">AIR/FUEL</p>
    </div>
  </div>
  <div class="card bg-tab"(click)="changeTab(4);">
    <div class="card-body text-center">
      <p class="card-text">EXHAUST</p>
    </div>
  </div>
  <div class="card bg-tab" (click)="changeTab(5);">
    <div class="card-body text-center">
      <p class="card-text">TEMPERATURE</p>
    </div>
  </div>
  <div class="card bg-tab" (click)="changeTab(6);">
    <div class="card-body text-center">
      <p class="card-text">READINESS</p>
    </div>
  </div> 
</div>
		</div>
		
		<!-- END BUTTON LIST TO CHANGE LIST OF PARAMETERS -->

<!-- TAB 0 FOR COMMON LIST-->
<div class="container" id="container0">
<div class="row" id="row00">
<div class="col-sm-4" *ngIf="showparameter==0||showparameter==1">
<div class="card">
  <div class="card-header">ENGINE RPM</div>
  <div class="card-body">{{lastTelemetria.rpm}}</div> 
  <div class="card-footer">rpm</div>
</div>
</div>
<div class="col-sm-4">
<div class="card">
  <div class="card-header">VEHICLE SPEED</div>
  <div class="card-body">{{lastTelemetria.kmh}}</div> 
  <div class="card-footer">km/h</div>
</div>
</div>
<div class="col-sm-4" *ngIf="showparameter==0||showparameter==1">
<div class="card">
  <div class="card-header">ABSOLUTE LOAD VALUE</div>
  <div class="card-body">{{lastTelemetria.absolute_load_value}}</div> 
  <div class="card-footer">%</div>
</div>
</div>


<div class="col-sm-4">
<div class="card">
  <div class="card-header">ENGINE COOLANT TEMPERATURE</div>
  <div class="card-body">{{lastTelemetria.temperature_coolant}}</div> 
  <div class="card-footer">°c</div>
</div>
</div>
<div class="col-sm-4" *ngIf="showparameter==0||showparameter==3">
<div class="card">
  <div class="card-header">FUEL PRESSURE</div>
  <div class="card-body">{{lastTelemetria.fuel_pressure}}</div> 
  <div class="card-footer">kPa</div>
</div>  
</div>
<div class="col-sm-4" *ngIf="showparameter==0||showparameter==3">
<div class="card">
  <div class="card-header">INTAKE MAP</div>
  <div class="card-body">{{lastTelemetria.intake_map}}</div> 
    <div class="card-footer">kPa</div>
</div>  
</div>


<div class="col-sm-4" *ngIf="showparameter==0||showparameter==1">
<div class="card">
  <div class="card-header">IGNITION TIMING ADVANCE</div>
  <div class="card-body">{{lastTelemetria.ignition_timing_advance}}</div> 
    <div class="card-footer">°</div>
</div>
</div>
<div class="col-sm-4" *ngIf="showparameter==0||showparameter==3">
<div class="card">
  <div class="card-header">INTAKE TEMPERATURE</div>
  <div class="card-body">{{lastTelemetria.temperature}}</div> 
   <div class="card-footer">°c</div>
</div>
</div>
<div class="col-sm-4" *ngIf="showparameter==0||showparameter==1||showparameter==2">
<div class="card">
  <div class="card-header">THROTTLE POSITION</div>
  <div class="card-body">{{lastTelemetria.throuttle_position}}</div> 
   <div class="card-footer">%</div>
</div>
</div>

<div class="col-sm-4">
<div class="card">
  <div class="card-header">COMMANDED EGR</div>
  <div class="card-body">{{lastTelemetria.commanded_egr}}</div> 
   <div class="card-footer">%</div>
</div>
</div>
<div class="col-sm-4">
<div class="card">
  <div class="card-header">COMMANDED EVAPORATIVE PURGE</div>
  <div class="card-body">{{lastTelemetria.commanded_evaporative_purge}}</div> 
   <div class="card-footer">%</div>
</div>
</div>
<div class="col-sm-4">
<div class="card">
  <div class="card-header">EGR ERROR</div>
  <div class="card-body">{{lastTelemetria.egr_error}}</div> 
   <div class="card-footer">%</div>
</div>
</div>

<div class="col-sm-4" *ngIf="showparameter==0||showparameter==3">
<div class="card">
  <div class="card-header">FUEL LEVEL</div>
  <div class="card-body">{{lastTelemetria.fuel_level_input}}</div> 
   <div class="card-footer">%</div>
</div>
</div>
<div class="col-sm-4">
<div class="card">
  <div class="card-header">EVAP SYSTEM VAPOR PESSURE</div>
  <div class="card-body">{{lastTelemetria.evap_system_vapor_pressure}}</div> 
   <div class="card-footer">%</div>
</div>
</div>
<div class="col-sm-4" *ngIf="showparameter==0||showparameter==3">
<div class="card">
  <div class="card-header">BAROMETRIC PRESSURE</div>
  <div class="card-body">{{lastTelemetria.barometric_pressure}}</div> 
   <div class="card-footer">kPa</div>
</div>
</div>

<div class="col-sm-4">
<div class="card">
  <div class="card-header">CATALYST TEMPERATURE BANK 1</div>
  <div class="card-body">{{lastTelemetria.catalyst_temperature_bank_1}}</div> 
   <div class="card-footer">°c</div>
</div>
</div>
<div class="col-sm-4">
<div class="card">
  <div class="card-header">CATALYST TEMPERATURE BANK 2</div>
  <div class="card-body">{{lastTelemetria.catalyst_temperature_bank_2}}</div> 
   <div class="card-footer">°c</div>
</div>
</div>
<div class="col-sm-4" *ngIf="showparameter==0||showparameter==3">
<div class="card">
  <div class="card-header">AIR FUEL EQUIV RATIO</div>
  <div class="card-body">{{lastTelemetria.maf_air_flow_rate}}</div> 
</div>
</div>
</div>
</div>
<!-- END TAB 0 FOR COMMON LIST-->
		
		
		<!-- END CONTAINER OF TELEMETRY -->
		
		<!-- ADDING CHARTSW -->
		
		
		        <div class="row mt-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
              <select class="form-control" id="parameter" [(ngModel)]="parametro" (change)="onItemChange(parametro)">
				<option selected value="0">Kilometri (km)</option>
				<option value="1">RPM </option>	
				<option value="2">Engine Load </option>	
				<option value="3">Coolant Temp </option>					
				<option value="4">Fuel Pression </option>
				<option value="5">Intake Map</option>
				<option value="6">Throttle</option>
			  </select>
              </div>
              <div class="card-body">
               <div id="chartdiv" [style.width.%]="100" [style.height.px]="400"></div>
              </div>
            </div>
          </div>
		  <div class="col-md-12">
            <div class="card">
              <div class="card-header">
              temperature_coolant/engine_oil_temperature
              </div>
              <div class="card-body">
               <div id="tempchart" [style.width.%]="100" [style.height.px]="400"></div>
              </div>
            </div>
          </div>
		  </div>
		<!-- ENDING CHART -->
	
        <div class="row mt-3 mb-3">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                Engine Oil Temperature
              </div>
              <div class="card-body">
                <div id="chartfirstbottom" [style.width.%]="100" [style.height.px]="300"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
               Barometric Pressure
              </div>
              <div class="card-body">
                <div id="chartsecondbottom" [style.width.%]="100" [style.height.px]="300"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
               Engine Fuel Rate
              </div>
              <div class="card-body">
                <div id="chartthirdbottom" [style.width.%]="100" [style.height.px]="300"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>