<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page" style="margin-top:50px;">

  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">

      <div class="m-content">

        <!--begin:: section content-->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="rightautotable">
            <div class="m-portlet m-portlet--mobile ">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                      <i class="fa fa-calendar fah3"></i>
                      SCADENZE </h3>
                  </div>
                </div>
              </div>
              <div class="m-portlet__body">
                <!--begin: Datatable -->

                <div class="table-responsive">
                  <table datatable class="row-border hover" id="myTable">
                    <thead>
                      <tr>
                        <th>Marca</th>
                        <th>Modello</th>
                        <th>Targa</th>
                        <th>Scadenze</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let scadenze of listaScadenze">
                        <td>{{scadenze.auto.marca}}</td>
                        <td>{{scadenze.auto.modello}}</td>
                        <td>{{scadenze.auto.targa}}</td>
                        <td>
                          <span *ngIf="scadenze.giorniScadenzaBollo>0">Bollo:
                            <span style="color:red;">{{scadenze.auto.scadenzaBollo | date:'dd/MM/yyyy'}}</span>
                            <br>
                          </span>
                          <span *ngIf="scadenze.giorniScadenzaRevisione>0">Revisione:
                            <span style="color:red;">{{scadenze.auto.scadenzaRevisione | date:'dd/MM/yyyy'}}</span>
                            <br>
                          </span>
                          <span *ngIf="scadenze.giorniScadenzaTagliando>0">Tagliando:
                            <span style="color:red;">{{scadenze.auto.scadenzaTagliando | date:'dd/MM/yyyy'}}</span>
                            <br>
                          </span>
                          <span *ngIf="scadenze.giorniScadenzaAssicurazione>0">Assicurazione:
                            <span style="color:red;">{{scadenze.auto.scadenzaAssicurazione | date:'dd/MM/yyyy'}}</span>
                            <br>
                          </span>
                        </td>

                      </tr>
                    </tbody>

                  </table>
                </div>
                <!--end: Datatable -->
              </div>
            </div>
          </div>
        </div>
        <!--end:: seciont content-->
      </div>
    </div>
    <!--
		</div>
	-->
  </div>
</div>
<!-- end:: Page -->