
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page" style="margin-top:50px;">
		
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					
					<div class="m-content">
					
						<!--begin:: section content-->
						<div class="row">
						
					
						
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="rightautotable">
								<div class="m-portlet m-portlet--mobile ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
												<i class="fa fa-calendar fah3"  ></i>
													APPUNTAMENTI
												</h3>
															<div class="btn-group btn-group-lg" >
  <button type="button" class="btn btn-primary showappuntamenti" data-n="0">In Attesa</button>
  <button type="button" class="btn btn-primary showappuntamenti" data-n="1" ng-if="user.getUser().ruolo==0">Risposti</button>
  <button type="button" class="btn btn-primary showappuntamenti" data-n="4" ng-if="user.getUser().ruolo==1">Confermati</button>
  <button type="button" class="btn btn-primary showappuntamenti" data-n="2" ng-if="user.getUser().ruolo==1">Rifiutati</button>
  <button type="button" class="btn btn-primary showappuntamenti" data-n="3">Tutti</button>
</div>
						
											</div>
										</div>
									
									</div>
									<div class="m-portlet__body">
										<!--begin: Datatable -->
									<!--	<div class="m_datatable" id="m_datatable_latest_orders"></div>-->
								
									<table class="table table-striped" id="myTable">
									<thead>
									<tr>
									<th>Data</th>
									<th>Ora</th>
									<th>Dettagli</th>
									<th>Risposta</th>
							
									<th></th>
									</tr>
									</thead>
									<tbody><!--
								ng-class="appun.stato==0 ? 'prevattesa' : 'prevrisposto'" -->
								<tr ng-repeat="appun in user.getUserAppuntamenti()" ng-class="{'prevattesa':appun.stato==0,'prevrisposto':appun.stato==1&&user.getUser().ruolo==0,'prevconfermato':appun.stato==1&&user.getUser().ruolo==1,'prevrifiutato':appun.stato==2&&user.getUser().ruolo==1}">
								<td>{{appun.data | date:'dd/MM/yyyy'}}</td>
								<td>{{appun.ora}}</td>
								<td>{{appun.dettagli}}</td>
								<td>{{appun.risposta}}</td>
								
								<td>
								
								<a class="ali" ng-if="appun.stato==1&&user.getUser().ruolo==0"><i class="fa fa-check"  title="Conferma appuntamento"></i></a>
								<a class="ali" ng-if="appun.stato==0&&user.getUser().ruolo==0"><i class="fa fa-hourglass"  title="Richiesta in attesa di risposta"></i></a>
								
								<a class="ali" ng-if="appun.stato==1&&user.getUser().ruolo==1"><i class="fa fa-check"  title="Appuntamento confermato"></i></a>
								<a class="ali" ng-if="appun.stato==2&&user.getUser().ruolo==1"><i class="fa fa-check"  title="Appuntamento non confermato"></i></a>
								<a class="ali" ng-if="appun.stato==0&&user.getUser().ruolo==1"><i class="fa fa-hourglass"  title="Richiesta in attesa di risposta"></i></a>
								</td>

								</tr>
								
								
									</tbody>
									</table>
								
										<!--end: Datatable -->
									</div>
								</div>
							</div>
							
						
						</div>
						<!--end:: seciont content-->
						
 
						
  
					  
					</div>
				</div>
				<!--
			</div>
			-->
		</div>

	</div>
	<!-- end:: Page -->
<!-- begin::modal richiedi preventivo -->
<div class="modal" tabindex="-1" role="dialog" id="modalrichiedipreventivo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Richiedi preventivo per <span id="autorichiesta"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="/inviapreventivo" method="POST">

						<div class="form-group">
  <label for="dettagli">Descrizione Problema:</label>
  <textarea class="form-control" rows="5" id="dettagli" name="dettagli"></textarea>
</div>
						
							<input type="hidden"
								class="form-control" id="email" value="email"
								name="email">
							<input type="hidden"
								class="form-control" id="idofficina" 
								name="idofficina">
						<input type="hidden"
								class="form-control" id="idauto" 
								name="idauto">
								
  

      </div>
      <div class="modal-footer " style="text-align:center;" >
       <button type="submit" class="btn btn-primary savebutton">Invia Richiesta</button>
	     
</form>
      </div>
    </div>
  </div>
</div>

<!-- end::modal richiedi preventivo-->


	 </div>
	<script> $(document).ready( function () {
    $('#myTable').DataTable({
	 searching: true,
    ordering:  true,
	pageLength:25,});
} );

$(document).on("click", ".showappuntamenti", function() {
 var n = $(this).data("n");

if(n=='0'){
if($('.prevattesa').length>0){
$('.prevrisposto').hide();
$('.prevconfermato').hide();
$('.prevrifiutato').hide();
$('.prevattesa').show();
}else alert('Non ci sono appuntamenti in attesa');
}else if(n=='1'){
if($('.prevrisposto').length>0){
$('.prevattesa').hide();
$('.prevconfermato').hide();
$('.prevrifiutato').hide();
$('.prevrisposto').show();
}else alert('Non ci sono appuntamenti che hanno ricevuto risposta');
}else if(n=='2'){
if($('.prevrifiutato').length>0){
$('.prevattesa').hide();
$('.prevconfermato').hide();
$('.prevrisposto').hide();
$('.prevrifiutato').show();
}else alert('Non ci sono appuntamenti rifiutati');
}else if(n=='3'){
$('.prevattesa').show();
$('.prevrisposto').show();
$('.prevrifiutato').show();
$('.prevconfermato').show();
}else if(n=='4'){
if($('.prevconfermato').length>0){
$('.prevattesa').hide();
$('.prevrifiutato').hide();
$('.prevrisposto').hide();
$('.prevconfermato').show();
}else alert('Non ci sono appuntamenti confermati');
}
});

</script>