<div >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page" style="margin-top:50px;">
		
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					
					<div class="m-content">
					
						<!--begin:: section content-->
						<div class="row">
						
					
						
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="rightautotable">
								<div class="m-portlet m-portlet--mobile ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
												<i class="fa fa-user fah3"  ></i>
													Clienti
												</h3>
																			
											</div>
										</div>
									
									</div>
									<div class="m-portlet__body">
										<!--begin: Datatable -->
									<!--	<div class="m_datatable" id="m_datatable_latest_orders"></div>-->
								
									<table class="table table-striped" id="myTable">
									<thead>
									<tr>
									<th>ID</th>
									<th>Nome</th>
									<th>Cognome</th>
									<th>Email</th>
									<th>Telefono</th>
									<th>Data Registrazione</th>
							
									<th></th>
									</tr>
									</thead>
									<tbody>
								<tr ng-repeat="clienti in user.getUserClienti()" ng-if="clienti.ruolo==0 && clienti.stato!=2">
								<td>{{clienti.id}}</td>
								<td>{{clienti.nome}}</td>
								<td>{{clienti.cognome}}</td>
								<td>{{clienti.email}}</td>
								<td>{{clienti.telefono}}</td>
								<td>{{clienti.dataRegistrazione | date:'dd/MM/yyyy'}}
								
								</td>
								
								
								<td>
								
								<a class="ali" ng-if="clienti.stato==1"><i class="fa fa-unlock-alt"  title="Sblocca cliente"></i></a>
								<a class="ali" ng-if="clienti.stato==0"><i class="fa fa-ban"  title="Blocca cliente"></i></a>
								<a class="ali" style="margin-left:10px;"><i class="fa fa-remove"  title="Rimuovi cliente"></i></a>
								</td>

								</tr>
								
								
									</tbody>
									</table>
								
										<!--end: Datatable -->
									</div>
								</div>
							</div>
							
						
						</div>
						<!--end:: seciont content-->
						
 
						
  
					  
					</div>
				</div>
				<!--
			</div>
			-->
		</div>

	</div>
	<!-- end:: Page -->
<!-- begin::modal richiedi preventivo -->
<div class="modal" tabindex="-1" role="dialog" id="modalrichiedipreventivo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Richiedi preventivo per <span id="autorichiesta"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="/inviapreventivo" method="POST">

						<div class="form-group">
  <label for="dettagli">Descrizione Problema:</label>
  <textarea class="form-control" rows="5" id="dettagli" name="dettagli"></textarea>
</div>
						
							<input type="hidden"
								class="form-control" id="email" value="email"
								name="email">
							<input type="hidden"
								class="form-control" id="idofficina" 
								name="idofficina">
						<input type="hidden"
								class="form-control" id="idauto" 
								name="idauto">
								
  

      </div>
      <div class="modal-footer " style="text-align:center;" >
       <button type="submit" class="btn btn-primary savebutton">Invia Richiesta</button>
	     
</form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- end::modal richiedi preventivo-->


	 </div>
	<script> $(document).ready( function () {
    $('#myTable').DataTable({
	 searching: true,
    ordering:  true,
	pageLength:25,});
} );


</script>