<div class="container-fluid">

  <div class="col s12 m7" style="margin:auto;width:60%;">
    <div class="card horizontal">
      <div class="card-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h1 style="text-align: center;"><i style="font-size:200px;color:#0097a7;"class="material-icons">account_circle</i></h1>

          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="col s6">
                  <label for="Name">Name</label>
                  <input ng-model="$ctrl.contact.name">
                </div>
                <div class=" col s6">
                  <label for="Surname">Surname</label>
                  <input  ng-model="$ctrl.contact.surname">
                </div>
              </div>

              <div class="row">
                <div class="col s4">
                  <label for="Number">Number</label>
                  <input placeholder="{{$ctrl.contact.number}}" ng-model="$ctrl.contact.number">
                </div>
                <div class="col s4">
                  <label>Age</label>
                  <input  placeholder="{{$ctrl.contact.age}}"  ng-model="$ctrl.contact.age">
                </div>
                <div class=" col s4">
                  <label>Gender</label>
                  <input  placeholder="{{$ctrl.contact.gender}}"  ng-model="$ctrl.contact.gender">
                </select>
              </div>
            </div>
            <div class="row">
              <div class=" col s12">
                <label for="icon_prefix2">Description</label>
                <textarea class="materialize-textarea" ng-model="$ctrl.contact.description"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-action">
        <div style="text-align: center;"> <a ng-click="$ctrl.update()" class="waves-effect waves-light  cyan darken-2 btn"><i class="material-icons left">save</i>Update</a></div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
$(document).ready(function(){
  $('select').material_select();
});
</script>
