<div class="col s12 m" style="margin: auto;width: 90%;">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <h4>Manage your contact</h4>
        <a class="btn-floating right btn-large waves-effect waves-light teal accent-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Add a contact!" data-target="modal1"><i class="material-icons">add</i></a>
        <p ng-if=!$ctrl.user.hasContacts> you didn't add any contact, add someone now!</p>
        <table class="highlight bordered" ng-if=$ctrl.user.hasContacts>
          <thead>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Number</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Description</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody ng-repeat="contact in $ctrl.contacts.getAllContacts() | orderBy:'name'">
            <tr>
              <td><a href="#!/firstpage/{{contact.getId()}}">{{contact.getName()}}</a></td>
              <td>{{contact.getSurname()}}</td>
              <td>{{contact.getNumber()}}</td>
              <td>{{contact.getAge()}}</td>
              <td>{{contact.getGender()}}</td>
              <td>{{contact.getDescription()}}</td>
              <td>
                <a class="btn-floating btn-small blue">
                  <i class="large material-icons">mode_edit</i>
                </a>
              </td>
              <td>
                <a class="btn-floating btn-small red">
                  <i class="large material-icons"  ng-click="deleteContact(contact.getId(),contact)">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Add a contact</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="Name" type="text" class="validate" ng-model="name">
            <label for="Name">Name</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="Surname" type="text" class="validate" ng-model="surname">
            <label for="Surname">Surname</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s4">
            <i class="material-icons prefix">phone</i>
            <input id="Number" type="text" class="validate" ng-model="number">
            <label for="Number">Number</label>
          </div>
          <div class="input-field col s4">
            <input id="Age" type="text" class="validate" ng-model="age">
            <label for="Age">Age</label>
          </div>
          <div class="input-field col s4">
            <select ng-model="gender">
              <option value="" disabled selected>Gender</option>
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea" ng-model="description"></textarea>
            <label for="icon_prefix2">Description</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat  teal accent-4" ng-click="addContact()">Add!</button>
  </div>
</div>

<script>
$(document).ready(function(){
  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
  $('select').material_select();
  $('.tooltipped').tooltip({delay: 50});
});

</script>
