<div class="m-portlet__head">
	<div class="m-portlet__head-caption">
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				<i class="fa fa-car fah3"  ></i>
				 <span ng-if="user.getUser().ruolo==0">GUASTI</span>
			</h3>
		</div>
	</div>
</div>
	<div ng-controller="guasti">
		<table class="table" id="myTable">
			<thead>
				<tr>
					<th>Id Guasto</th>
					<th>Stato Risoluzione</th>
					<th>Descrizione Guasto</th>
					<th>Data</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="oggetto in user.getUserGuasti()">
					<td>{{oggetto.id}}</td>
					<td>{{oggetto.statoRisoluzione}}</td>
					<td>{{oggetto.tipologiaGuasto.descrizione}}</td>
					<td>{{oggetto.data | date:'dd-MM-yyyy'}}</td>
				</tr>
			</tbody>
		</table>
			<script> $(document).ready( function () {
			
		$('#myTable').DataTable({
		 searching: true,
		ordering:  true,
		pageLength:10});
	} );
	</script>
	</div>

