<div class="m-portlet__head">
	<div class="m-portlet__head-caption">
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				<i class="fa fa-car fah3"  ></i>
				 <span ng-if="user.getUser().ruolo==0">GUASTI</span>
			</h3>
		</div>
	</div>
</div>
	<div ng-controller="guasti">
	
		<table class="table table-striped" id="myTable">
			<thead>
				<tr>
					<th>Id Guasto</th>
					<th>Stato Risoluzione</th>
					<th>Descrizione Guasto</th>
					<th>Data</th>
					<th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="oggetto in user.getUserGuasti()">
					<td>{{oggetto.id}}</td>
					<td>{{oggetto.statoRisoluzione}}</td>
					<td>{{oggetto.tipologiaGuasto.descrizione}}</td>
					<td>{{oggetto.data | date:'dd-MM-yyyy'}}</td>
					<td>	<a class="ali setguastorisolto" ng-if="oggetto.statoRisoluzione=='Non Risolto'&&user.getUser().ruolo==1" data-id="{{oggetto.id}}"><i class="fa fa-check"  title="Conferma guasto risolto" ></i></a>
					
					</td>
				</tr>
			</tbody>
		</table>
		<!-- begin::modal add auto -->
<div class="modal" tabindex="-1" role="dialog" id="modalsetguastorisolto">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confermi che il guasto &egrave; risolto?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/inviapreventivo" method="POST">
<input type="text" style="display:none;" id="idguastorisp" ng-model="idguastorisp">
					
				</div>
				<div class="modal-footer " style="text-align:center;" >
					<button type="button" class="btn btn-primary savebutton" ng-click="setGuastoRisolto(idguastorisp);">Conferma</button>
					<button type="button" class="btn btn-primary savebutton" data-dismiss="modal">Annulla</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- end::modal add auto-->
		</div>
		
			<script> $(document).ready( function () {
			
		$('#myTable').DataTable({
		 searching: true,
		ordering:  true,
		pageLength:10});
	} );
	$(document).on("click", ".setguastorisolto", function() {
var idguasto=$(this).data("id");
$('#idguastorisp').val(idguasto);
$('#idguastorisp').trigger('change');
$('#modalsetguastorisolto').modal("show");
});

	
	</script>
	

