<div >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page" style="margin-top:50px;">
		
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					
					<div class="m-content">
					
						<!--begin:: section content-->
						<div class="row">
						
					
						
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="rightautotable">
								<div class="m-portlet m-portlet--mobile ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
												<i class="fa fa-car fah3"  ></i>
													PREVENTIVI
												</h3>
															<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-primary showpreventivi" data-n="0">In Attesa</button>
  <button type="button" class="btn btn-primary showpreventivi" data-n="1">Risposti</button>
  <button type="button" class="btn btn-primary showpreventivi" data-n="2">Tutti</button>
</div>
						
											</div>
										</div>
									
									</div>
									<div class="m-portlet__body">
										<!--begin: Datatable -->
									<!--	<div class="m_datatable" id="m_datatable_latest_orders"></div>-->
								
									<table class="table table-striped" id="myTable">
									<thead>
									<tr>
									<th>ID</th>
									<th>Marca</th>
									<th>Modello</th>
									<th>Targa</th>
									<th>Telaio</th>
									<th>Dettagli</th>
									<th>Risposta</th>
									<th>Costo</th>
									<th></th>
									</tr>
									</thead>
									<tbody>
								<tr ng-repeat="prev in user.getUserPreventivi()" ng-class="prev.stato==0 ? 'prevattesa' : 'prevrisposto'" >
								<td>{{prev.id}}</td>
								<td>{{prev.auto.marca}}</td>
								<td>{{prev.auto.modello}}</td>
								<td>{{prev.auto.targa}}</td>
								<td>{{prev.auto.numeroTelaio}}</td>
								<td>{{prev.dettagli}}</td>
								<td>{{prev.risposta}}</td>
								<td>{{prev.costo}}</td>
								<td>
								
								<a class="ali" ng-if="prev.stato==1"><i class="fa fa-check"  title="accetta preventivo"></i></a>
								</td>

								</tr>
								
								
									</tbody>
									</table>
								
										<!--end: Datatable -->
									</div>
								</div>
							</div>
							
						
						</div>
						<!--end:: seciont content-->
						
 
						
  
					  
					</div>
				</div>
				<!--
			</div>
			-->
		</div>

	</div>
	<!-- end:: Page -->
<!-- begin::modal richiedi preventivo -->
<div class="modal" tabindex="-1" role="dialog" id="modalrichiedipreventivo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Richiedi preventivo per <span id="autorichiesta"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="/inviapreventivo" method="POST">

						<div class="form-group">
  <label for="dettagli">Descrizione Problema:</label>
  <textarea class="form-control" rows="5" id="dettagli" name="dettagli"></textarea>
</div>
						
							<input type="hidden"
								class="form-control" id="email" value="email"
								name="email">
							<input type="hidden"
								class="form-control" id="idofficina" 
								name="idofficina">
						<input type="hidden"
								class="form-control" id="idauto" 
								name="idauto">
								
  

      </div>
      <div class="modal-footer " style="text-align:center;" >
       <button type="submit" class="btn btn-primary savebutton">Invia Richiesta</button>
	     
</form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- end::modal richiedi preventivo-->


	 </div>
	<script> $(document).ready( function () {
    $('#myTable').DataTable({
	 searching: true,
    ordering:  true,
	pageLength:25,});
} );

$('.showpreventivi').on('click',function(){
var n = $(this).data("n");

if(n=='0'){
$('.prevrisposto').hide();
$('.prevattesa').show();
}else if(n=='1'){
$('.prevattesa').hide();
$('.prevrisposto').show();
}else{
$('.prevattesa').show();
$('.prevrisposto').show();
}
});
</script>