<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Appuntamenti</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-calendar fa-fw"></i> Elenco appuntamenti
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table" ng-if="ruolo == 2">
                            <thead>
                                <tr>
                                    <th>Auto</th>
                                    <th>Contatto driver</th>
                                    <th>Descrizione</th>
                                    <th>Data</th>
                                    <th>Conferma</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="appuntamento in listAppuntamento">
                                    <td>
                                        <form>
                                            <fieldset>
                                                <input type="hidden" name="findAuto" value="${appuntamento.autoEntity.codDispositivo}">
                                                <button class="btn btn-circle" data-toggle="tooltip" data-placement="top" title="${appuntamento.autoEntity.casaCostruttrice} ${appuntamento.autoEntity.modello}">
                                                    <i class="fa fa-automobile"></i>
                                                </button>
                                            </fieldset>
                                        </form>
                                    </td>
                                    <td>
                                        {{appuntamento.driverEntity.cellulare}}
                                    </td>
                                    <td>
                                        {{appuntamento.descrizione}}
                                    </td>
                                    <td>
                                        {{appuntamento.data}}
                                    </td>
                                    <td ng-if="appuntamento.stato == true">
                                        Confermato
                                    </td>
                                    <td ng-if="appuntamento.stato == false">
                                        Rifiutato
                                    </td>
                                    <td ng-if="appuntamento.stato == null">
                                        <div class="col-md-3">
                                            <form>
                                                <input type="hidden" name="idAppuntamento" value="${appuntamento.idAppuntamento}">
                                                <input type="hidden" name="idOfficina" value="${sessionScope.model.user.id}">
                                                <button class="btn btn-circle btn-sm btn-success">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-md-3">
                                            <form>
                                                <input type="hidden" name="idAppuntamento" value="${appuntamento.idAppuntamento}">
                                                <input type="hidden" name="idOfficina" value="${sessionScope.model.user.id}">
                                                <button class="btn btn-circle btn-sm btn-danger">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table" ng-show="ruolo == 4">
                            <thead>
                                <tr>
                                    <th>Auto</th>
                                    <th>Contatto officina</th>
                                    <th>Descrizione</th>
                                    <th>Data</th>
                                    <th>Conferma</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="appuntamento in listAppuntamento">
                                    <td>
                                        <form>
                                            <fieldset>
                                                <input type="hidden" name="codDispositivo" value="${appuntamento.autoEntity.codDispositivo}">
                                                <button class="btn btn-circle" data-toggle="tooltip" data-placement="top" title="${appuntamento.autoEntity.casaCostruttrice} ${appuntamento.autoEntity.modello}">
                                                    <i class="fa fa-automobile"></i>
                                                </button>
                                            </fieldset>
                                        </form>
                                    </td>
                                    <td>
                                        {{appuntamento.officinaEntity.nomeOfficina}}
                                    </td>
                                    <td>
                                        {{appuntamento.descrizione}}
                                    </td>
                                    <td>
                                        {{appuntamento.data}}
                                    </td>
                                    <td ng-if="appuntamento.stato == true">
                                        Confermato
                                    </td>
                                    <td ng-if="appuntamento.stato == false">
                                        Rifiutato
                                    </td>
                                    <td ng-if="appuntamento.stato == null">
                                        In attesa di risposta
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <tabs-component></tabs-component>
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->