<div ng-if="ruolo == 1">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-wrench fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {{countOfficinaAll}}
                        </div>
                        <div>Officine</div>
                    </div>
                </div>
            </div>
            <a href="#!/viewOfficina">
                <div class="panel-footer">
                    <span class="pull-left">Visualizza tutte</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-briefcase fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {{countAziendaAll}}
                        </div>
                        <div>Aziende</div>
                    </div>
                </div>
            </div>
            <a href="#!/viewAzienda">
                <div class="panel-footer">
                    <span class="pull-left">Visualizza tutte</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-automobile fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {{countAutoAll}}
                        </div>
                        <div>Auto</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {{countDriverAll}}
                        </div>
                        <div>Driver</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="ruolo == 2">
    <div class="modal fade" id="formAddAzienda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="addAzienda" method="post" role="form">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" name="nome" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Citta</label>
                            <input type="text" name="citta" class="form-control">
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                        <button type="submit" class="btn btn-primary">
                            Aggiungi
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-list-alt fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{countPreventivoOfficina}}</div>
                        <div>Preventivi</div>
                    </div>
                </div>
            </div>
            <a href="#!/viewPreventivo">
                <div class="panel-footer">
                    <span class="pull-left">Visualizza</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-calendar fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{countAppuntamentoOfficina}}</div>
                        <div>Appuntamenti</div>
                    </div>
                </div>
            </div>
            <a href="#!/viewAppuntamento">
                <div class="panel-footer">
                    <span class="pull-left">Visualizza</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div ng-if="ruolo == 3">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-automobile fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {{countAutoAzienda}}
                        </div>
                        <div>Auto</div>
                    </div>
                </div>
            </div>
            <a href="javascript:{}" onclick="document.getElementById('listAllAutoAzienda').submit(); return false;">
                <div class="panel-footer">
                    <span class="pull-left">Visualizza tutte</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {{countDriverAzienda}}
                        </div>
                        <div>Driver</div>
                    </div>
                </div>
            </div>
            <a href="javascript:{}" onclick="document.getElementById('listAllDriverAzienda').submit(); return false;">
                <div class="panel-footer">
                    <span class="pull-left">Visualizza tutte</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-warning fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {{countAutoAziendaError}}
                        </div>
                        <div>Auto</div>
                    </div>
                </div>
            </div>
            <a href="javascript:{}" onclick="document.getElementById('listAllAutoConErrori').submit(); return false;">
                <div class="panel-footer">
                    <span class="pull-left">Visualizza</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div ng-if="ruolo == 4">
    <div class="col-lg-3 col-md-6" ng-repeat="auto in listAutoDriver">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-automobile fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>{{auto.casaCostruttrice}} {{auto.modello}}</div>
                        <div class="big btn btn-default" style="margin-right: -5px; padding: 5px;">
                            {{auto.targa}}
                        </div>
                    </div>
                </div>
            </div>
            <form action="/contraderOBDSpringBoot/viewNotificheDriver" method="POST" id="viewAuto${auto.codDispositivo}">
                <input type="hidden" name="codDispositivo" value="${auto.codDispositivo}" />
            </form>
            <a href="javascript:{}" onclick="document.getElementById('viewAuto${auto.codDispositivo}').submit(); return false;">
                <div class="panel-footer">
                    <span class="pull-left">Visualizza</span>
                    <span class="pull-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>