<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page" style="margin-top:50px;">

  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">

      <div class="m-content">

        <!--begin:: section content-->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="rightautotable">
            <div class="m-portlet m-portlet--mobile ">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                      <i class="fa fa-calendar fah3"></i>
                      Appuntamenti
                    </h3>
                  </div>
                </div>
              </div>
              <div class="m-portlet__body">
                <!--begin: Datatable -->

                <div class="table-responsive">
                  <table class="table table-striped" id="myTable">
                    <thead>
                      <tr>
                        <th>Data</th>
                        <th>Ora</th>
                        <th>Officina</th>
                        <th>Dettagli</th>
                        <th>Risposta</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let appuntamento of listaAppuntamenti">
                        <td>{{appuntamento.data | date: 'dd/MM/yyyy'}}</td>
                        <td>{{appuntamento.ora}}</td>
                        <td>{{appuntamento.officina.denominazione}}</td>
                        <td>{{appuntamento.dettagli}}</td>
                        <td>
                          <p *ngIf="appuntamento.stato == 0">In attesa di risposta</p>
                          <p *ngIf="appuntamento.stato != 0">{{appuntamento.risposta}}</p>
                        </td>
                        <td>
                          <p *ngIf="appuntamento.stato == 0"></p>
                          <p *ngIf="appuntamento.stato == 1"><i class="fa fa-check fah3"></i></p>
                          <p *ngIf="appuntamento.stato == 2"><i class="fa fa-times fah3"></i></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--end: Datatable -->
              </div>
            </div>
          </div>


        </div>
        <!--end:: seciont content-->





      </div>
    </div>
    <!--
		</div>
	-->
  </div>
</div>
<!-- end:: Page -->