<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page" style="margin-top:50px;">

  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">

      <div class="m-content">

        <!--begin:: section content-->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="rightautotable">
            <div class="m-portlet m-portlet--mobile ">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                      <i class="fa fa-calendar fah3"></i>
CLIENTI                    </h3>
                  </div>
                </div>
              </div>
              <div class="m-portlet__body">
                <!--begin: Datatable -->
	<button type="button" id="aggiungicliente" class="btn btn-default pull-left btnmodal btnuptab" data-toggle="modal" data-target="#modaladdcliente">Aggiungi Cliente</button>
                <div class="table-responsive">
                  <table datatable  class="row-border hover" id="myTable">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Data Registrazione</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr *ngFor="let cliente of listaClienti">
                        <td>{{cliente.nome}}</td>
                        <td>{{cliente.cognome}}</td>
                        <td>{{cliente.email}}</td>
                        <td>{{cliente.telefono}}</td>
						<td>{{cliente.dataRegistrazione | date: 'dd/MM/yyyy'}}</td>
                        
                        <td>        
                        
                        </td>
				
                      </tr>
                    </tbody>
					
                  </table>
                </div>
                <!--end: Datatable -->
              </div>
            </div>
          </div>


        </div>
        <!--end:: seciont content-->





      </div>
    </div>
    <!--
		</div>
	-->
  </div>
</div>
<!-- end:: Page -->
<!-- begin::modal add auto -->
<div class="modal" tabindex="-1" role="dialog" id="modaladdcliente">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Aggiungi Cliente</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
<div class="form-group">
					<label for="nomecliente">Nome:</label>
					<input type="text" name="nomecliente" [(ngModel)]="nomecliente" class="form-control" placeholder="Inserire nome...">
				</div>
				
				<div class="form-group">
					<label for="cognomecliente">Cognome:</label>
					<input type="text" name="cognomecliente" [(ngModel)]="cognomecliente" class="form-control" placeholder="Inserire cognome...">
				</div>
				
				<div class="form-group">
					<label for="emailcliente">Email:</label>
					<input type="email" name="emailcliente" [(ngModel)]="emailcliente" class="form-control" placeholder="Inserire email...">
				</div>
				
				<div class="form-group">
					<label for="passwordcliente">Password:</label>
					<input type="text" name="passwordcliente" [(ngModel)]="passwordcliente" class="form-control" placeholder="Inserire password...">
				</div>

				<div class="form-group">
					<label for="telefonocliente">Telefono:</label>
					<input type="text" name="telefonocliente" [(ngModel)]="telefonocliente" class="form-control" placeholder="Inserire telefono...">
				</div>
			
			
	</div>
				
				<div class="modal-footer " style="text-align:center;" >
					<button type="button" class="btn btn-primary savebutton" (click)="insertCliente();">Salva cliente</button>

			</div>
		</div>
	</div>
</div>
<!-- end::modal add auto-->