/* You can add global styles to this file, and also import other style files */
 .ali {
      cursor: pointer !important;
    }

    .ali:hover {
      color: red !important;
    }

    .ali-green {
      cursor: pointer !important;
    }

    .ali-green:hover {
      color: green !important;
    }

  .btn-circle {
    border-radius: 50%;
  }

  .accettato {
    color: green !important;
  }

  .rifiutato {
    color: red !important;
  }
	.btnuptab{
		    margin: 10px 10px 10px 0;
	}
  .profile-img
  {
      width: 130px;
      margin: 0 auto 10px;
      display: block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
  }
.spanred{
	color: red !important;
	padding-right:10px;
}

.navbar-sidenav{
	overflow-y: auto;
}

.dataTables_info{display: none !important;}

