<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LogInServlet</servlet-name>
		<servlet-class>com.project.servlets.LogInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogInServlet</servlet-name>
		<url-pattern>/LogInServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>4000</session-timeout>
	</session-config>
	<servlet>
		<description></description>
		<display-name>RegistraUtente</display-name>
		<servlet-name>RegistraUtente</servlet-name>
		<servlet-class>com.project.servlets.RegistraUtente</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ModificaUtente</display-name>
		<servlet-name>ModificaUtente</servlet-name>
		<servlet-class>com.project.servlets.ModificaUtente</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ModificaUtenteBusiness</display-name>
		<servlet-name>ModificaUtenteBusiness</servlet-name>
		<servlet-class>com.project.servlets.ModificaUtenteBusiness</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RimuoviCliente</display-name>
		<servlet-name>RimuoviCliente</servlet-name>
		<servlet-class>com.project.servlets.RimuoviCliente</servlet-class>
	</servlet>
	<servlet>
		<display-name>AddAutoAzienda</display-name>
		<servlet-name>AddAutoAzienda</servlet-name>
		<servlet-class>com.project.servlets.AddAutoAzienda</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>LogOut</display-name>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>com.project.servlets.LogOut</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>LogOutServlet</display-name>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>com.project.servlets.LogOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistraUtente</servlet-name>
		<url-pattern>/RegistraUtente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificaUtente</servlet-name>
		<url-pattern>/ModificaUtente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificaUtenteBusiness</servlet-name>
		<url-pattern>/ModificaUtenteBusiness</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/LogOutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RimuoviCliente</servlet-name>
		<url-pattern>/RimuoviCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAutoAzienda</servlet-name>
		<url-pattern>/AddAutoAzienda</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
</web-app>