body {
	margin: 0;
	padding: 0px;
}

.btn-pulito{
    background:none!important;
	padding:0!important;
	border: none;
}
.btn-pulito:hover{
    background:none!important;
    padding:0!important;
	border: none;
}
.btn-pulito:focus, .btn-pulito.focus{
    background:none!important;
    padding:0!important;
	border: none;
}
.btn-pulito:disabled, .btn-pulito.disabled{
    background:none!important;
    padding:0!important;
	border: none;
}
.btn-pulito:active, .btn-pulito.active{
    background:none!important;
    padding:0!important;
	border: none;
}