<div>
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page" style="margin-top:50px;">

    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
      <div class="m-grid__item m-grid__item--fluid m-wrapper">

        <div class="m-content">

          <!--begin:: section content-->
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3" *ngFor="let statoAuto of listaAuto">
              <div class="card text-white bg-{{statoAuto.status}} o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-automobile"></i>
                  </div>
                  <div class="mr-5">{{statoAuto.auto.marca}} {{statoAuto.auto.modello}}</div>
                  <div class="mr-5">{{statoAuto.auto.targa}}</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" (click)="notifiche(statoAuto.auto)" data-toggle="modal" data-target="#notificheModal"
                  style="cursor: pointer;">
                  <span class="float-left">Notifiche</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>

        </div>
        <!--end:: seciont content-->

        <!-- Modal Notifiche-->
        <div *ngIf="autoNotificata" class="modal fade" id="notificheModal" tabindex="-1" role="dialog" aria-labelledby="notificheModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="notificheModalLabel">{{autoNotificata.marca}} {{autoNotificata.modello}}</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    <i class="fa fa-fw fa-times"></i>
                  </span>
                </button>
              </div>
              <div class="modal-body">
                <div *ngFor="let notifica of notificheAuto " class="alert alert-{{notifica.key}}">
                  <p>{{notifica.value}}</p>
                  <div *ngIf="notifica.key != 'success' && notifica.value != 'Km del Noleggio in Scadenza' && notifica.value !='Bollo in Scadenza' ">
                    <button class="btn btn-secondary btn-sm" (click)="formAppuntamento(notifica)" data-dismiss="modal" data-toggle="modal" data-target="#chiediAppuntamentoModal">
                      <i class="fa fa-fw fa-calendar"></i>
                    </button>
                    <button class="btn btn-secondary btn-sm" (click)="formPreventivo(notifica)" data-dismiss="modal" data-toggle="modal" data-target="#chiediPreventivoModal">
                      <i class="fa fa-fw fa-euro"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->
        <!-- Modal Appuntamento -->
        <div *ngIf="autoNotificata && notifica" class="modal fade" id="chiediAppuntamentoModal" tabindex="-1" role="dialog" aria-labelledby="notificheModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="notificheModalLabel">Richiedi un appuntamento</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    <i class="fa fa-fw fa-times"></i>
                  </span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="data">Data</label>
                        <form class="form-inline">
                          <div class="form-group">
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="data" [(ngModel)]="data" ngbDatepicker #d="ngbDatepicker">
                              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                <i class="fa fa-fw fa-calendar"></i>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Ora</label>
                        <input type="text" placeholder="hh:mm" [(ngModel)]="ora" [ngModelOptions]="{standalone: true}" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Dettagli</label>
                        <textarea class="form-control" [(ngModel)]="dettagli" [ngModelOptions]="{standalone: true}"></textarea>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="notifiche(autoNotificata)" data-toggle="modal"
                  data-target="#notificheModal">Indietro</button>
                <button class="btn btn-primary" type="button" (click)="chiediAppuntamento()">Conferma</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->
        <!-- Modal Preventivo -->
        <div *ngIf="autoNotificata && notifica" class="modal fade" id="chiediPreventivoModal" tabindex="-1" role="dialog" aria-labelledby="notificheModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="notificheModalLabel">Richiedi un preventivo</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    <i class="fa fa-fw fa-times"></i>
                  </span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Dettagli</label>
                      <textarea class="form-control" [(ngModel)]="dettagli" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="notifiche(autoNotificata)" data-toggle="modal"
                  data-target="#notificheModal">Indietro</button>
                <button class="btn btn-primary" type="button" (click)="chiediPreventivo()">Conferma</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->
      </div>
    </div>
    <!--
		</div>
	-->
  </div>

</div>
<!-- end:: Page -->